[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
apscheduler = "*"
uuid = "*"
google-api-python-client = "*"
datetime = "*"


[requires]

python_version = "3.6"